html {margin: 0;padding: 0;}
svg {aspect-ratio: 9/16;object-fit: cover;}

g {transition: all .2s ease;}

body {
    margin: 0;
    padding: 0;
    display: block;
    cursor: url('/images/fork-tiny-angled.png'), pointer;
}

#spine-blue_Image,
#spine-bronze_Image,
#spine-green_Image,
#clip-cyan_Image,
#clip-bronze_Image,
#clip-purple_Image,
#clip-green_Image,
#clip-blue_Image,
#open-entropic-tail_Image,
#open-black-timascus-2_Image,
#open-flame_Image,
#open-flamingo_Image,
#open-frosty_Image,
#open-kinetic-blue_Image,
#open-jeweled_Image {
    filter: drop-shadow(0 0 6px transparent);
}

#spine-blue_Image:hover,
#spine-bronze_Image:hover,
#spine-green_Image:hover,
#clip-cyan_Image:hover,
#clip-bronze_Image:hover,
#clip-purple_Image:hover,
#clip-green_Image:hover,
#clip-blue_Image:hover,
#open-entropic-tail_Image:hover,
#open-black-timascus-2_Image:hover,
#open-flame_Image:hover,
#open-flamingo_Image:hover,
#open-frosty_Image:hover,
#open-kinetic-blue_Image:hover,
#open-jeweled_Image:hover {
    filter: drop-shadow(0 0 6px rgba(0,0,0,.6));
}

#mc_embed_signup {
    background: rgba(255,255,255,.85);
    clear: left;
    position: fixed;
    z-index: 100;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem .75rem;
    margin: 0;
    border-radius: .25rem;
    box-shadow: 0px 0px 14px 8px rgba(0,0,0,.5);
}

#mc_embed_signup input,
#mc_embed_signup label,
#mc_embed_signup submit {
    display: inline-block;
}

#mc_embed_signup_scroll {
    display: flex;
    flex-direction: row;
    column-gap: .75rem;
    justify-content: center;
}



.tool-tip {
	color: #fff;
	width: 139px;
	z-index: 13000;
}
 
.tool-title {
	font-weight: bold;
	font-size: 11px;
	margin: 0;
	color: #9FD4FF;
	padding: 8px 8px 4px;
	background: url(bubble.png) top left;
}
 
.tool-text {
	font-size: 11px;
	padding: 4px 8px 8px;
	background: url(bubble.png) bottom right;
}
 
.custom-tip {
	color: #000;
	width: 130px;
	z-index: 13000;
}
 
.custom-title {
	font-weight: bold;
	font-size: 11px;
	margin: 0;
	color: #3E4F14;
	padding: 8px 8px 4px;
	background: #C3DF7D;
	border-bottom: 1px solid #B5CF74;
}
 
.custom-text {
	font-size: 11px;
	padding: 4px 8px 8px;
	background: #CFDFA7;
}

